:root {
  --textColor: rgba(255, 255, 255, 0.87);
  --surface1: #141414;
  --surface2: #242424;

  --border: #999999;

  --accent: #1B4474;
  --accent-hover: #193E69;
  --accent-toned: #4B77AA;
  --accent-toned-hover: #335E8F;

  --error: #e1566f;
  --help: #989898;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--textColor);
  background-color: var(--surface1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

#app {
  width: min(100%, 1280px);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    --textColor: #242424;
    --surface1: #F5F5F5;
    --surface2: #FEFEFE;

    --input-background: #EBEBEB;
    --border: #a8a8a8;

    --accent: #7BAAE0;
    --accent-toned: #BDD2ED;

    --error: #B00020;
    --help: #828282;

    color: var(--textColor);
    background-color: var(--surface1);
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}

@media only screen and (min-width: 1200px) {
  .article {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: min(100%, 40rem);
  margin-left: auto;
  margin-right: auto;
}

.form-button {
  background-color: var(--accent);
  font-size: 14px;
  font-weight: bold;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25rem;
  border: none;
  width: min(100%, 400px);
  cursor: pointer;
}

.form-button:hover {
  background-color: var(--accent-hover);
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--surface2);
  padding: .5rem;
  border: 1.5px solid var(--border);
  border-radius: .25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.section-collapsed {
  display: none;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.section .row:last-child {
  /* margin-top: 2rem; */
  margin-bottom: 0;
}

.label {
  display: flex;
  font-weight: 600;
  letter-spacing: .025rem;
  white-space: nowrap;
  margin-bottom: .5rem;
}

.label-collapsed {
  font-weight: bold;
  text-transform: capitalize;
}

.label-columns, .label-rows {
  font-weight: normal;
  font-size: 15px;
}

.label-file {
  align-self: center;
  display: grid;
  place-items: center;
  background-color: var(--accent-toned);
  font-size: 14px;
  letter-spacing: normal;
  padding: .375rem 1.75rem;
  border-radius: 25rem;
  width: min(100%, 400px);
  cursor: pointer;
}

.label-file:hover {
  background-color: var(--accent-toned-hover);
}

.label-legend {
  text-align: left;
  font-weight: 600;
  letter-spacing: .025rem;
  padding: 0;
  padding-right: .5rem;
}

.label-checkbox-text {
  margin-right: 1rem;
}

.label-visually-hidden {
  /* Source: https://a11y-guidelines.orange.com/en/web/components-examples/accessible-hiding/ */
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.select {
  /* text-indent: .125rem; */
  min-width: 15ch;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .25rem;
  padding-right: .25rem;
  border-radius: 0.25rem;
}

.select:hover {
  cursor: pointer;
}

.input {
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 100%;
  border: .0625rem solid var(--border);
  border-radius: .25rem;
  margin-bottom: .5rem;
}

.input-file {
  display: none;
}

.textarea {
  align-self: flex-start;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: .25rem;
  width: 100%;
  resize: vertical;
}

.image {
  align-self: center;
  max-height: 200px;
  object-fit: contain;
  border-radius: .25rem;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  border-top: solid 1px var(--border);
  padding: 0;
  margin: 0;
  width: 100%;
}

.container-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.container-item-label, .container-item-textarea {
  margin-right: 1rem;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.grid {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(8,1fr);
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.grid-item-columns {
  grid-column: span 4;
}

.grid-item-rows {
  grid-column: span 8;
}

.grid-nested {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(2,1fr);
}

.grid-nested-item {
  grid-column: span 1;
}

@media only screen and (min-width: 600px) {
  .grid-item-columns {
    grid-column: span 2;
  }

  .grid-nested {
    grid-template-columns: repeat(4,1fr);
  }
}

.button-add {
  background-color: var(--accent-toned);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  padding: .625rem 1.75rem;
  margin-top: .5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25rem;
  cursor: pointer;
  border: none;
  width: min(100%, 400px);
}

.button-add:hover {
  background-color: var(--accent-toned-hover);
}

.button-collapse {
  position: absolute;
  top: .5rem;
  right: .5rem;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button-delete {
  color: var(--help);
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: .025rem;
  padding: 0;
  border: none;
}

.button-delete:hover {
  color: var(--error);
  cursor: pointer;
}

.button-delete-grid-item {
  align-self: flex-start;
  text-align: left;
}